%section{class: 'secondary-nav', id: 'halls'}
  %section.unit
    = link_to_unless_current 'египетский зал', friendly_egyptian_hall_path
  %section.unit
    = link_to_unless_current 'зеркальный зал', friendly_mirror_hall_path