article#reminder
  p.spanned
    margin-bottom: 10px
    span
      text-transform: uppercase
      border-bottom: 2px solid $secondary-color

  .list
    margin: auto 260px
    margin-top: 70px
    margin-bottom: 70px

    p
      text-align: left
      i
        font-size: 10px
        vertical-align: middle
        padding-right: 10px

  .table
    table
      margin: 12px auto 0
      border-collapse: collapse
      p
        text-align: left
        padding: 26px 70px 26px 10px

        line-height: 1.3

      tr
        td:first-of-type
          border-bottom: 1px solid $secondary-color


        td:last-of-type
          border-bottom: 1px solid $secondary-color
          p
            text-align: center
            padding: 26px 40px

        td:nth-of-type(2)
          border: 1px solid $secondary-color

      tr:last-of-type td
        border-bottom: none

      tr:first-of-type td:nth-of-type(2)
        border-top: none









