- content_for :image do
  = image_tag 'recommendations/reminder.png'

= render "recommendations"

%article#reminder
  %h1.lined
    памятка
  %p.spanned
    %span
      информация для нас
  %p
    сообщите нам за 5 дней до банкета:
  %div.list
    %p
      %i{class: "fa fa-square fa-lg"}
      Точное количество гостей, ведущих, диджеев, фотографов и операторов.
    %p
      %i{class: "fa fa-square fa-lg"}
      Вариант расстановки столов и количество посадочных мест за каждым столом.
    %p
      %i{class: "fa fa-square fa-lg"}
      Цвет скатертей и салфеток, необходимы ли напероны на скатерти.
    %p
      %i{class: "fa fa-square fa-lg"}
      Ваш выбор из списка дополнительных услуг.
    %p
      %i{class: "fa fa-square fa-lg"}
      Время начала банкета.

  %section.table
    %p.spanned
      %span
        информация для вас
    %p
      рекомендуемое количество продуктов и напитков на 1 человека:
    %table
      %tr
        %td
          %p МЯСНАЯ НАРЕЗКА
        %td
          %p
            3-4 вида копченого/полукопченого мяса
            %br
            (буженина, окорок, шейка и т.п.)
        %td
          %p
            30 гр
            %br
            каждого вида

      %tr
        %td
          %p ФРУКТОВАЯ НАРЕЗКА
        %td
          %p
            мандарины,
            %br
            виноград,
            %br
            груша,
            %br
            нектарин, абрикос, черешня – на выбор
        %td
          %p 
            120 гр
            %br 
            120 гр
            %br
            60 гр
            %br
            100 гр

      %tr
        %td
          %p НАПИТКИ
        %td
          %p
            газ. вода
            %br
            сок
            %br
            алкогольные напитки
        %td
          %p
            0,75 л
            %br
            0,75 л
            %br
            На Ваше усмотрение

      %tr
        %td
          %p К ЧАЮ
        %td
          %p
            торт
            %br
            лимон, конфеты, сливки
        %td
          %p
            60-100 гр
            %br
            на Ваше усмотрение

      %tr
        %td
          %p
            ФУРШЕТНЫЙ СТОЛ
            %br
            (если он заказан)
        %td
          %p
            фрукты
            %br
            конфеты
            %br
            шампанское
            %br
            соки, вода
        %td
          %p
            1,5 кг
            %br
            2 кор
            %br
            2-3 бут
            %br
            по 2 бут




