- content_for :image do
  = image_tag 'recommendations/reminder.png'

= render "recommendations"

%article#reminder
  %h1.lined
    памятка
  %p.spanned
    %span
      информация для нас
  %p
    сообщите нам за 5 дней до банкета:
  %div.list
    %p
      %i{class: "fa fa-square fa-lg"}
      Точное количество гостей, ведущих, диджеев, фотографов и операторов.
    %p
      %i{class: "fa fa-square fa-lg"}
      Вариант расстановки столов и количество посадочных мест за каждым столом.
    %p
      %i{class: "fa fa-square fa-lg"}
      Цвет скатертей и салфеток, необходимы ли напероны на скатерти.
    %p
      %i{class: "fa fa-square fa-lg"}
      Ваш выбор из списка дополнительных услуг.
    %p
      %i{class: "fa fa-square fa-lg"}
      Время начала банкета.

  %section.table
    %p.spanned
      %span
        информация для вас
    %p
      рекомендуемое количество продуктов и напитков на 1 человека:
    %table
      %tr
        %td
          %p МЯСНАЯ НАРЕЗКА
        %td
          %p 3-4 вида копченого/полукопченого мяса
          %p (буженина, окорок, шейка и т.п.)
        %td
          %p 30 гр
          %p каждого вида

      %tr
        %td
          %p ФРУКТОВАЯ НАРЕЗКА
        %td
          %p Мандарины
          %p Виноград
          %p Груша
          %p Нектарин, абрикос, черешня – на выбор
        %td
          %p 120 гр
          %p 120 гр
          %p 60 гр
          %p 100 гр

      %tr
        %td
          %p НАПИТКИ
        %td
          %p Газ. вода
          %p Сок
          %p Алкогольные напитки
        %td
          %p 0,75 л
          %p 0,75 л
          %p На Ваше усмотрение

      %tr.4
        %td
          %p К ЧАЮ
        %td
          %p Торт
          %p Лимон, конфеты, сливки
        %td
          %p 60-100 гр
          %p На Ваше усмотрение

      %tr.5
        %td
          %p ФУРШЕТНЫЙ СТОЛ
          %p (если он заказан)
        %td
          %p Фрукты
          %p Конфеты
          %p Шампанское
          %p Соки, вода
        %td
          %p 1,5 кг
          %p 2 кор
          %p 2-3 бут
          %p По 2 бут




