article#reservation
  span
    color: $secondary-color
    font-weight: 700
  section.deposit
    margin-top: 50px
    p
      text-align: left
      &:nth-of-type(1)
        margin-bottom: 40px
      &:nth-of-type(4)
        float: right
        margin-right: 61px
      &:nth-of-type(5)
        float: right
        margin-right: 77px
      &:nth-of-type(6)
        margin-top: 64px

      i
        font-size: 10px
        vertical-align: middle
        padding-right: 10px

