article#welcome
  section.photo
    top: 0
    left: 0

    >img
      @include fill-parent

  section.info
    section.wrapper
      @include span-columns(10)
      @include shift(1)

      h1
        text-align: center
        font-size: 44px
        padding: 20px

      >p
        text-align: center
        font-size: 20px
        font-weight: 100
        color: #434242
      p.last
        line-height: 4

      section#advantages1, section#advantages2
        @include span-columns(6)
        p
          @include row
          font-size: 20px
          padding: 10px
          color: #434242
          img
            @include span-columns(1 of 10)
          span
            @include span-columns(9 of 10)










