%article#corporate
  %h1
    КОРПОРАТИВНЬIЕ МЕРОПРИЯТИЯ
  %p
    Устроить корпоративный праздник - лучший способ объединить коллектив.
  %p
    В Банкет Холл Клеопатра у Вас есть прекрасная возможность не только сплотить всех сотрудников и руководителей компании
  %p
    в достижение единых целей, но и повеселиться. При этом атмосфера, оформление  залов, качество обслуживания,
  %p
    разнообразное меню  дадут понять, что Вы цените своих сотрудников и предоставляете им отдых высокого класса.
  %p
    Банкет Холл порадует Вас Новогодними, Юбилейными и любыми другими корпоративными мероприятиями.