%article#welcome
  %section.photo
    = image_tag 'kleopatra.jpg'

  %section.info
    %h1
      О НАС
    %p
      Банкет холл «Клеопатра» - это современное место для проведения праздничных мероприятий на высшем уровне. Светлый интерьер нашего зала, выполненный в египетском стиле, подходит как для пышных свадеб, семейных юбилеев, корпоративов и выпускных, так и для деловых презентаций и ярких детских праздников. Наши сотрудники имеют более 15 лет опыта проведения банкетов любой сложности. А шеф-повар индивидуально подберет для Вас особое меню.
    %p
      Будем рады видеть Вас! 

    %h1
      НАШИ ПРЕИМУЩЕСТВА
    %section#advantages1
      %p
        • Наш основной зал вмещает до 100 гостей
      %p
        • Самый светлый и уютный зал в городе
      %p
        • Зал имеет неограниченные возможности для декорирования
      %p
        • По-домашнему вкусная кухня, все Ваши гости останутся сытыми и довольными
    %section#advantages2
      %p
        • Все алкогольные напитки Вы можете принести с собой без дополнительных оплат
      %p
        • В Вашем распоряжении фуршетный зал для гостей
      %p
        • У нас есть отдельный зал для проведения Вашей выездной регистрации
      %p
        • Время работы зала всегда можно продлить хоть до утра
       