/- content_for :image do

%article#prom
  %h1
    ВЫПУСКНЫЕ ВЕЧЕРА
  %p
    Церемония, связанная с окончанием учебного заведения.
  %p
    Это знаменательная дата, как для самих выпускников, так и для их родителей, большой шаг в новую жизнь.
  %p
    Выпускной бал для многих является одним из самым памятных вечеров в жизни.
  %p
    Банкет холл Клеопатра современное место для проведения торжественной и развлекательной программы выпускного бала.
  %p
    Сотрудники Банкет холл Клеопатра организуют закрытое мероприятие, обеспечат безопасность всех гостей,
  %p
    подберут лучшее меню для выпускников и порадуют отличным обслуживанием.
