%article#wedding
  %h1
    СВАДЬБА
  %p
    Торжественная церемония, посвященная заключению брака.
  %p
    День свадьбы – это одновременно радостное и волнительное событие.
  %p
    А хочется, чтобы свадьба прошла идеально, начиная от выкупа невесты и церемонии в ЗАГСе, заканчивая банкетом и развлекательной программой.
  %p
    Для того чтобы свадьба Вашей мечты стала реальностью, необходимо тщательно продумать каждый нюанс
  %p
    и проделать колоссальную подготовительную работу. Одним из главных моментов пышной запоминающейся свадьбы
  %p
    является место проведения торжества. Банкет холл Клеопатра - идеальное место для незабываемой свадьбы.
  %p
    Мы посоветуем Вам лучших ведущих и оформителей, подберем индивидуальное меню.
  %p
    Главное, что Вы запомните о свадьбе в Банкет Холл Клеопатра – само торжество, а не его организация.