- content_for :image do
  = image_tag "contacts.png"

:javascript
  $("[data-secondary-nav=substitude]").show();

%article#contacts-index
  %h1.lined
    контакты
  %section.wrapper
    %section#map
      %iframe{:frameborder => "0", :height => "450", :src => "https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2381.1939379375826!2d58.963045999999984!3d53.35768399999997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x43d12e6c6b302c1b%3A0x1c39b1185c09b364!2z0JHQsNC90LrQtdGCINCl0L7Qu9C7INCa0LvQtdC-0L_QsNGC0YDQsA!5e0!3m2!1sru!2sru!4v1404885565714", :style => "border:0", :width => "600"}
  %section.contacts
    %div.element
      %h1
        банкет-холл клеопатра
    %div.element
      %h1
        адрес:
      %p
        455034 г Магнитогорск
      %p
        ул. Советская д. 209а
    %div.element
      %h1
        телефон:
      %p
        8-922-754-4440
    %div.element
      %h1
        e-mail:
      %p
        banketvkleopatre@gmail.com

