- content_for :image do
  = image_tag 'service/additional_service/additional_service.png'

= render "secondary_nav"

%article#order
  %h1.lined
    дополнительные услуги
  %p
    Дорогие гости, для создания особого уюта на Вашем банкете,
  %p
    хотим предложить Вам дополнительное оформление зала.
  %p
    Белые ткани предадут торжественности, а вазы с тюльпанами добавят нотку романтики.