- content_for :image do
  = image_tag 'service/reservation.png'

= render "secondary_nav"

%article#reservation
  %h1.lined
    бронирование даты
  %p
    Наш сотрудник подскажет свободные даты, и, если выбранный день Вам подходит,
  %p
    Вы вносите предоплату
    %span> *
    \ и можете быть уверены,
  %p
    что этот день будет закреплен за Вами.

  %section.deposit
    %p
      %span> *
      ПРЕДОПЛАТА
    %p
      %i{class: "fa fa-square fa-lg"}
      Размер предоплаты для бронирования даты составляет 10 000 рублей.
    %p
      %i{class: "fa fa-square fa-lg"}
      При заказе банкета в Египетском зале в предоплату входит: от 10 до 25 гостей - 4 000 рублей аренда зала и 6 000 рублей в счет меню
    %p
      более 25 гостей - 2 000 рублей аренда зала и 8 000 рублей в счет меню
    %p
      %i{class: "fa fa-square fa-lg"}
      Возврат предоплаты возможен за 45 дней до забронированной даты.
    %p
      %i{class: "fa fa-square fa-lg"}
      С воскресенья по четверг арендная плата отсутствует, кроме праздничных и предновогодних дней.
