- content_for :image do
  = image_tag 'service/reservation.png'

= render "secondary_nav"

%article#reservation
  %h1.lined
    бронирование даты
  %p
    Наш сотрудник подскажет свободные даты и если выбранный день Вам подходит,
  %p
    тогда Вы вносите предоплату
    %span> *
    \ и можете быть уверены,
  %p
    что этот день будет закреплен за Вами.

  %section.annotation
    %p
      %span *
      Размер предоплаты для бронирования даты составляет 10 000 рублей.
    %p В предоплату входит: 2 000 рублей аренда зала и 8 000 рублей в счет банкетного меню.
    %p Возврат предоплаты возможен за 30 дней до забронированной даты.