- content_for :image do
  = image_tag 'service/reservation.png'

= render "secondary_nav"

%article#reservation
  %h1.lined
    бронирование даты
  %p
    Наш сотрудник подскажет свободные даты, и, если выбранный день Вам подходит,
  %p
    Вы вносите предоплату
    %span.special> *
    \ и можете быть уверены,
  %p
    что этот день будет закреплен за Вами.

  %section.deposit
    %p
      %span.special> *
      ПРЕДОПЛАТА
    %p
      %i{class: "fa fa-square fa-lg"}
      Услуга "бронирование даты" составляет 10 000 рублей
    %p
      %i{class: "fa fa-square fa-lg"}
      При заказе банкета в Египетском зале, в услугу "бронирование даты" входит:
    %p
      \- до 25 гостей
      %span - 4 000 рублей аренда зала и 6 000 рублей в счет меню
    %p - более 25 гостей - 10 000 рублей в счет меню, арендная плата зала отсутствует
    %p
      %i{class: "fa fa-square fa-lg"}
      При заказе банкета в малом зале, в услугу "бронирование даты" входит:
    %p - 10 000 рублей в счет меню, арендная плата зала отсутствует
    %p
      %i{class: "fa fa-square fa-lg"}
      Возврат предоплаты возможен за 45 дней до забронированной даты
