- content_for :image do
  = image_tag 'sales.png'

= render "secondary_nav"

%article{id: 'sales', class: 'special-pages'}
  %h1.lined акции
  %p Мы предлагаем вам сэкономить и воспользоваться нашими акциями:
  %section.special-pages-content
    - @pages.in_groups_of(2, false) do |pages_row|
      .special-pages-row
        - pages_row.each do |page|
          .special-page
            .special-page-content
              .thumbnail= image_tag(page.image_url(:special_page))
            .special-page-content
              .caption= raw(page.content)

