- content_for :image do
  = image_tag 'service/service.png'

- content_for :secondary_navigation do
  = render "secondary_nav"

%article#service
  %h1.lined
    обслуживание
  %p
    Наше правило в организации обслуживания мероприятия просто: сервис должен быть незаметным, но высокого уровня.
  %p
    Это означает, что все напитки и блюда будут подаваться вовремя, в нужной последовательности и с соблюдением этикета.
  %p
    Ваши гости не будут скучать с пустыми бокалами, а столовые приборы будут расставлены в соответствии с требованиями сервировки стола.
  %p
    Все официанты и управляющие нацелены на то, чтобы участники мероприятия
  %p
    думали только о происходящем и не беспокоились о другом.
  %p
    Мы постоянно совершенствуемся и учитываем любые пожелания и предложения.