$header-font-color: #333
$text-font-color: #111

$grid-columns: 12
$body-font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
$my_font: 'Corki'
$body-font-size: 14px
$body-font-color: $text-font-color
$body-line-height: 1.5

$primary-color: #222

$max-width: 1024px
$min-width: 1024px