@font-face{
    font-family: 'corki';
    src: url(font-path("corki.otf")) unquote("format('opentype')");
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'avant';
    src: url(font-path("avant.ttf")) unquote("format('opentype')");
    font-weight: normal;
    font-style: normal;
}