body
  font: $body-font-size $body-font-family
  line-height: 1.8
  color: $primary-color
  font-weight: 300


header, p
  font-family: 'avant'
div, section
  font-family: 'avant'
h1, h2, h3
  font-family: $secondary_font
  font-weight: 100
  font-size: 32px
  text-align: center
  padding: 32px 0
h1.lined
  background-image: image-url('line.png')
  background-size: contain
  font-family: $secondary_font
  font-weight: 100
  font-size: 32px
  text-align: center
  padding: 32px 0
  margin: 0 350px
  span
    background-color: white
    padding: 0 66px
a
  text-decoration: none
  /*color: #C522AE*/
  &:hover
    text-decoration: underline
    color: darken(#C522AE, 20%)

strong
  font-weight: bold
p
  text-align: center
  font-size: 18px
  font-weight: 100
  color: #434242

