body
  font: $body-font-size $body-font-family
  line-height: 1.8
  color: $primary-color
  font-weight: 300


header, p
  font-family: 'avant'
h1, h2, h3
  font-family: 'corki'
  font-weight: 100
  font-size: 32
a
  text-decoration: none
  color: #C522AE
  &:hover
    text-decoration: underline
    color: darken(#C522AE, 20%)

strong
  font-weight: bold
  