body
  font: $body-font-size $body-font-family
  line-height: 1.8
  color: $primary-color
  font-weight: 300

header, p
  font-family: 'avant'

div, section
  font-family: 'avant'

h1, h2, h3
  font-family: $secondary_font
  font-weight: 100
  font-size: 32px
  text-align: center
  padding: 32px 0
/* 
               Creating h1 lines */

h1.lined
  width: 600px
  margin: 0 auto
  position: relative
  text-align: center
  text-transform: uppercase

h1.lined:before, h1.lined:after
  content: ''
  position: absolute
  top: 50%
  margin-top: -2px
  left: 0
  height: 2px
  width: 120px
  background-color: #000
h1.lined:after
  right: 0
  left: auto



a
  text-decoration: none
  /*color: #C522AE*/
  &:hover
    text-decoration: underline
    color: darken(#C522AE, 20%)

strong
  font-weight: bold

p
  text-align: center
  font-size: 18px
  font-weight: 100
  color: #434242

