- content_for :image do
  = image_tag 'egyptian_hall.png'

%article#egyptian_hall
  %h1
    ЕГИПЕТСКИЙ ЗАЛ
  %p
    Дизайн зала выполнен в стилистике легкого Египта. Основной тон его оформления – бежево-коричневый,
  %p
    такой фон позволяет проявить фантазию в оформлении помещения. Вы не будете ограничены в выборе цветовой гаммы или стилистической палитры.
  %p
    Планировка зала имеет множество вариантов расстановки посадочных мест для Ваших гостей.
  %p
    По периметру зала расположены широкие окна, что без сомнения делает зал  светлым и торжественным,
  %p
    а в темное время суток освещение зала придаст Вашему торжеству еще больше уюта и романтики.
  %p
    Уникальная особенность Египетского зала - возможность провести в малом зале незабываемую выездную регистрацию,
  %p
    организовать отдельный танцпол или использовать его как зону отдыха Ваших гостей.
