- content_for :image do
  = image_tag 'mirror_hall.png'

%article#mirror_hall
  %h1
    ЗЕРКАЛЬНЫЙ ЗАЛ
  %p
    Это малый зал Египетского зала, особенностью которого являются вытянувшиеся до потолка зеркала с одной стороны,
  %p
    и древние колоны с другой стороны зала. Красивая подсветка зеркал, приглушенное освещение зала
  %p
    создают комфортную обстановку для отдыха ваших гостей.
  %p
    Это место как будто создано для проведения вашей незабываемой выездной регистрации.
  %p
    Во время нее здесь царит атмосфера любви и романтики.