- content_for :image do
  = image_tag 'feedback.png'

:javascript
  $("#secondary-nav-substitude").show();


%article#feedback
  %h1.lined
    отзывы
  %section.feedback-zone
    - @photos.each do |photo|
      = link_to(image_tag(photo.image_url(:small_feedback).to_s), image_path(photo.image_url(:large_feedback).to_s), class: "fancybox-thumb", rel: "fancybox-thumb")